<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324461404140-49iovlb7au1f36rr0illiudsd064a29u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324461404140-49iovlb7au1f36rr0illiudsd064a29u</string>
	<key>API_KEY</key>
	<string>AIzaSyCfgRSjh9a29wov5L1e3qsuGUKQCPF1roA</string>
	<key>GCM_SENDER_ID</key>
	<string>324461404140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krro.scout</string>
	<key>PROJECT_ID</key>
	<string>scout-d7c93</string>
	<key>STORAGE_BUCKET</key>
	<string>scout-d7c93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324461404140:ios:d60b2a63c6455a9041aac9</string>
	<key>DATABASE_URL</key>
	<string>https://scout-d7c93.firebaseio.com</string>
</dict>
</plist>